.main-background {
  background-image: url(../../img/forest.jpeg);
  background-size: cover;
  color: rgb(255, 255, 255);
  border-radius: 0px;
}

.black-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block;
  transition: all 1s;
  transform: translateY(-1200px);
  /* margin-top: -1200px; */
}

.slide-down {
  transform: translateY(0px);
}

.white-background {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.btn-login-cancel {
  background: rgb(245, 71, 94);
  border-radius: 5px;
  color: white;

  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  /* 스크롤되어도 화면에 고정 */
  z-index: 5;
  width: 100%;
  color: white;
  transition: all 0.7s;
}

.nav-scroll {
  background: rgb(76, 97, 73);
  transition: all 0.8s;
  font-size: 13px;
}

.large-logo {
  font-size: 20px;
  transition: all 0.4s;
}

.small-logo {
  font-size: 15px;
  transition: all 0.4s;
}

.nav-sub {
  display: none;
  cursor: pointer;
}

.left-menu {
  width: 150px;
  height: 100%;
  background: rgb(131, 184, 51);
  color: white;
  position: fixed;
  margin-left: -150px;
}

.form-control {
  margin: 10px;
}

#email-alert {
  display: none;
}

#pw-alert {
  display: none;
}

#nav-sub-btn {
  cursor: pointer;
}

.slide-container {
  width: 400vw;
  transition: transform 1s;
}

.slide-next {
  position: absolute;
  /* 요소를 겹치거나 띄우려면 absolute(쓰려면 상위 요소에 position: relative를 작성해야함) */
  top: 15%;
  height: 200px;
  right: 0;
  background: rgb(70, 68, 68);
  font-size: 40px;
  color: white;
  border: none;
  outline: none;
  opacity: 0%;
}

.slide-next:hover {
  opacity: 80%;
  transition: all 0.6s;
}

.slide-before {
  position: absolute;
  top: 15%;
  height: 200px;
  left: 0;
  background: rgb(70, 68, 68);
  font-size: 40px;
  color: white;
  border: none;
  outline: none;
  opacity: 0%;
}

.slide-before:hover {
  opacity: 80%;
  transition: all 0.6s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}
