.main-background {
    background-image: url(../../img/forest.jpeg);
    background-size: cover; 
    color: rgb(255, 255, 255);
    border-radius: 0px;
}

.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

.white-background {
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.btn-login-cancel {
  background: rgb(245, 71, 94);  
  border-radius: 5px;
  color: white;
  
  align-items: center;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav-sub {
    display: none;
}

.form-control {
    margin: 10px;
}

#email-alert {
    display: none;
}

#pw-alert {
    display: none;
}