.main-background {
    background-image: url(../../img/forest.jpeg);
    background-size: cover; 
    color: rgb(255, 255, 255);
    border-radius: 0px;
}

.black-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 1s;
    transform: translateY(-1200px);
    /* margin-top: -1200px; */
}

.slide-down {
    transform: translateY(0px);
}

.white-background {
    background: white;
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.btn-login-cancel {
  background: rgb(245, 71, 94);  
  border-radius: 5px;
  color: white;
  
  align-items: center;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.nav-sub {
    display: none;
    cursor: pointer;
}


.left-menu {
    width: 150px;
    height: 100%;
    background: rgb(131, 184, 52);
    color: white;
    position: fixed;
    margin-left: -150px;
}

.form-control {
    margin: 10px;
}

#email-alert {
    display: none;
}

#pw-alert {
    display: none;
}

#nav-sub-btn {
    cursor: pointer;
}

.slide-container {
    width: 400vw;
    transition: transform 1s;

}

.slide-next {
    position: absolute;
    /* 요소를 겹치거나 띄우려면 absolute(쓰려면 상위 요소에 position: relative를 작성해야함) */
    top: 35%;
    right: 0;
    background: transparent;
    font-size: 40px;
    color: white;
    border: none;
    outline: none;
}

.slide-before {
    position: absolute;
    /* 요소를 겹치거나 띄우려면 absolute(쓰려면 상위 요소에 position: relative를 작성해야함) */
    top: 35%;
    left: 0;
    background: transparent;
    font-size: 40px;
    color: white;
    border: none;
    outline: none;
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width: 100%;
}