.gray {
  background: black;
  height: 2000px;
  margin-top: 600px;
  margin-bottom: 1600px;
}

.left-text {
  float: left;
  margin-top: 300px;
  color: white;
  padding: 20px;
}

.sticky {
  position: sticky;

  top: 100px;
  float: right;
}
